{% extends 'core/base.html' %}

{% load static %}

{% block title %}Visítanos{% endblock %}

{% block content %}
<h3>Te esperamos</h3>
<br>
<h4>Visítanos</h4>
<br>      
<ul>
  <li>
    <p>Lunes a viernes</p>
    <p>7:00 a 20:00</p>
  </li>
  <li>
    <p>Sábados</p>
    <p>9:00 a 17:00</p>
  </li>
  <li>
    <p>Domingos</p>
    <p>Cerrado</p>
  </li>
  </ul>
    <br>
    <p>Avenida Los Morangos 202</p>
    <br>      
    <p>Málaga</p>
    <br>             
    <p>Llámanos y pregunta</p>
    <br>
    <p>(317) 585-8468</p>
      
{% endblock %}